[submodule ".config/nvim/pack/plugins/opt/black"]
	path = .config/nvim/pack/plugins/opt/black
	url = https://github.com/psf/black.git
[submodule ".config/nvim/pack/plugins/opt/indent-blankline"]
	path = .config/nvim/pack/plugins/opt/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule ".config/nvim/pack/plugins/opt/nvim-lspconfig"]
	path = .config/nvim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".config/nvim/pack/plugins/opt/nvim-treesitter"]
	path = .config/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
